body {
  color: white;
  background-color: #272a33;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 200;
}
div.col-md-12 > span > h1  {
  color: #74D5DE;
  font-weight: 100;
}

div.col-md-12 > span > i {
  font-size: 50px;
  color: #FFE296;
  margin-right: 0.3em;
}

div.col-md-12 > span > h1 , i {
  display: inline;
}

#wrapper {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3.5em;
}

p > span.glyphicon {
  color: #26FF3C;
}

div.thin-text > h1 {
    font-size: 3rem;
    font-weight: 100;
}

div.thin-text > p  {
  font-size: 0.5em;
}
div.post > h3 {
  font-weight: 100;
}

form > h3 {
  font-weight: 100;
}

.glyphicon {
	cursor: pointer;
}